/*
colors: 
light green: #7ed56f;
medium green: #55c57a;
drak green: #28b485;
*/

:root {
  --color-light-green: #7ed56f;
  --color-medium-green: #55c57a;
  --color-drak-green: #28b485;
}

/* Normalize CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 
  Adding font familiy to body tag 
  font-family always will inheritance 
*/

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.m-b-8 {
  margin-bottom: 80px;
}
.m-b-2 {
  margin-bottom: 20px;
}

.d-flex {
  display: flex;
}

.gap-50 {
  gap: 50px;
}

.gap-30 {
  gap: 30px;
}

.col-1-of-2 {
  width: 50%;
}
.col-1-of-4 {
  width: 25%;
}

/* Header style start*/
.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 70px;
}

.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.3px;
  animation: fadeInRight 1s ease-out;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn-white {
  background-color: #fff;
  color: #777;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 100px;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.animated-btn {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link,
.btn-text:visited {
  text-decoration: none;
  color: #55c57a;
  line-height: 2;
  border-bottom: 1px solid #55c57a;
  display: inline-block;
  padding: 5px 3px 3px 3px;
  transition: all 0.2s;
  font-weight: 600;
  letter-spacing: 1px;
}

.btn-text:hover {
  background-color: #55c57a;
  border-radius: 100px;
  color: #fff;
  border: none;
  padding: 5px 15px;
  transform: translateY(-3px);
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

.btn-text:active {
  transform: translateY(-1px);
}

/*About Section Start*/
.section-about {
  background-color: #f7f7f7;
  padding: 200px 150px;
  margin-top: -15vh;
}

.u-center-text {
  text-align: center;
}

.heading-secondary {
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  transition: all 0.2s;
}

.heading-secondary:hover {
  transform: skewY(2deg) skewX(15deg);
  text-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.heading-tertiary {
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-weight: 400;
}

.paragraph:not(:last-child) {
  margin-bottom: 30px;
}

.image-box {
  position: relative;
}

.img {
  width: 55%;
  position: absolute;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
  transition: all 0.2s;
  outline-offset: 10px;
  border-radius: 1px;
}
.image-1 {
  left: 0;
  top: -20px;
  z-index: 1;
}
.image-2 {
  right: 0px;
  top: 20px;
  z-index: 2;
}

.image-3 {
  top: 100px;
  left: 25%;
  z-index: 3;
}

.img:hover {
  transform: scale(1.05) translateX(-5px);
  z-index: 10;
  outline: 5px solid #28b485;
}

.image-box:hover .img:not(:hover) {
  transform: scale(0.9);
}

/*Feature Section start*/
.section-feature {
  padding: 200px 150px;
  background-image: linear-gradient(
      to right bottom,
      rgba(126, 213, 111, 0.8),
      rgba(40, 180, 133, 0.8)
    ),
    url("../images/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -100px;
}

.section-feature > * {
  transform: skewY(7deg);
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 700;
  padding: 40px 20px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 24px 48px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.feature-box-icon {
  font-size: 55px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.feature-text {
  font-size: 15px;
  font-weight: 400;
}

.feature-box:hover {
  transform: translateY(-15px) scale(1.05);
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
